@model List<Usuario>
@{
    ViewData["Title"] = "Listar";
}

<div class="card">
  <div class="card-header">
    usuarios
  </div>
  <div class="card-body">
    <a asp-action="Ingresar" asp-controller="Home" class="btn btn-success"><i class="bi bi-plus-circle"></i> Anadir</a>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.Telefono</td>
                        <td>@item.Correo</td>
                    </tr>

                }
        </tbody>
    </table>

  </div>
</div>